.link {
    color: var(--color-primary-dark);
    text-decoration: none;
    transition: color 0.3s;

    @media screen and (min-width: $bp-desktop) {
        color: var(--color-primary-light);
    }
}

.link:hover {
    color: var(--color-brand-normal);

    @media screen and (min-width: $bp-desktop) {
        color: var(--color-brand-dark);
    }
}