.footer {
    padding: 32px 0;
    position: relative;
    background-image: url(../images/footer-bg.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before,
    &::after {
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        content: '';
    }

    &::before {
        width: 180px;
        height: 120px;
        background-image: url(../images/decor-bread-small.png);
    }

    &::after {
        right: 0;
        width: 380px;
        height: 190px;
        background-image: url(../images/decor-bread-large.png);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }

    &__nav,
    &__address {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-basis: 50%;
            text-align: left;
        }
    }

    &__logo,
    &__menu {
        flex-grow: 1;
    }

    &__address-list,
    &__address-info {
        flex-grow: 1;
    }

    &__address-link {
        color: var(--color-primary-light);
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;

        &:hover {
            color: var(--color-brand-normal);
        }

    }

    &__address-icon {
        fill: var(--color-primary-light);

        &:hover {
            fill: var(--color-brand-normal);
        }
    }

    &__address-copyright {
        color: var(--color-secondary-dark);
        font-size: 14px;
    }

}

.test-box {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    margin: 20px auto;
    background-image: linear-gradient(49deg, gold 50%, blue 50%, blue 70%, green 70%, green 100%);
}