.logo {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-light);
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
    text-align: left;

    @media screen and (min-width: $bp-tablet) {
        font-size: 24px;
    }

    &__part {
        font-weight: 700;
    }
}